<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <form method="post" action="/new">
        <label for="messageText">
            Message:<input type="text" name="messageText" id="messageText">
        </label>
    </form>
</body>
</html>