<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <h1>Your Message</h1>
    <form method="post" action="/message/new">
        <ul>
            <li>
                <label for="messageText">
                    Message:<input type="text" name="messageText" id="messageText">
                </label>
            </li>
            <li>
                <label for="messageUser">
                    Your Name: <input type="text" name="messageUser" id="messageUser">
                </label>
            </li>
            <li>
                <button type="submit">Send your message</button>
            </li>
        </ul>
    </form>
</body>
</html>