<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Messages</title>
</head>
<body>
    <h1>Messages</h1>
    <button class="new"><a href="/message/new">New mesage</a></button>
    <div class="messages">
        <% messages.toReversed().map((message, index) => { %>
            <button>
                <a href="/message/<%=index%>">
                    <div><%=message.text%></div>
                    <div><%=message.user%></div>
                    <div><%=message.added%></div>
                </a>
            </button>
        <% }) %>
    </div>
</body>
</html>