<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/new">New mesage</a>
    <% messages.toReversed().map((message, index) => { %>
        <button>
            <a href="/<%=index%>">
                <div><%=message.text%></div>
                <div><%=message.user%></div>
                <div><%=message.added%></div>
            </a>
        </button>
    <% }) %>
</body>
</html>