<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="message">
        <div><%= messages.toReversed()[id].text %></div>
        <div><%= messages.toReversed()[id].user %></div>
        <div><%= messages.toReversed()[id].added %></div>
    </div>
</body>
</html>