<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Message</title>
</head>
<body>
    <div class="message">
        <div class="messageText"><%= messages.toReversed()[id].message %></div>
        <div class="author"><%= messages.toReversed()[id].author %></div>
        <div class="date"><%= messages.toReversed()[id].added%></div>
    </div>
</body>
</html>